<div class="search">
  <% if flash[:error] %>
    <div id="error" class="notice citationLinker"><strong>(!) Problems:</strong> <%= flash[:error] %></div>
  <% end %>
  <%= form_tag(@submit_hash, {:method => "get", :class => "OpenURL form-horizontal", :name => "OpenURL", :id=>"OpenURL"})  %>
    <%= hidden_field_tag "umlaut.institution", "#{(current_primary_institution.nil?) ? "NYU" : current_primary_institution.code}" %> 
    <%= hidden_field_tag "rfr_id", "info:sid/sfxit.com:citation" %> 
    <%= hidden_field_tag "rft.date", "" %> 
    <%= hidden_field_tag "rft.title", "", {:class => "rft_title"} %> 
    <%= hidden_field_tag "rft.object_id", "", {:class => "rft_object_id"} %> 
    <div id="primary-search" class="search-section">
      <h2>Search for a Specific E-Journal or Article</h2>
      <%= institutional_partial("tip1") %>
      <fieldset>
        <div class="control-group">
          <%= label :journal, :title, "Journal Title:", :class => "control-label" %>
          <div class="controls">
            <select name="umlaut.title_search_type" class="title_search_type input-medium">
              <%= options_for_select({"contains" => "contains", "begins with" => "begins", "exact match" => "exact"}, params["umlaut.title_search_type"])  %>
            </select>
            <%= text_field :journal, :title, {:name=>'rft.jtitle', :class=>"title_search input-xlarge"} %>
          </div>
        </div>
        <div class="control-group">
          <%= label :journal, :issn, content_tag(:strong, "OR").concat(" ISSN:"), :class => "control-label" %>
          <div class="controls">
            <%= text_field :journal, :issn, {:name=>'rft.issn', :max_length => "9", :class=>"issn input-xlarge"} %>
            <%= link_to(content_tag(:i, "", :class=>"icons-famfamfam-information"), "http://library.nyu.edu/info/umlaut/journal.html", 
              :class => ["issn-popover", "help-inline"], :rel => "popover", :title => "What is an ISSN?", "data-placement" => "bottom", "data-class" => "issn", :target => "_blank")%>
          </div>
        </div>
        <div class="submit-group">
          <%= submit_tag "Search", {:name=>"Generate_OpenURL2"} %>
          <%= link_to "New Search", {:controller => "search", :action => "new_search"}, {:class => "new_search"}  %>
        </div>
      </fieldset>
    </div>
    <div id="optional-search" class="search-section">
      <h2>Optional Information: Enter as much as you know of the following:</h2>
      <fieldset>
        <%= institutional_partial("tip2") %>
        <div class="control-group">
          <%= label :article, :title, "Article Title:", :class => "control-label" %>
          <div class="controls">
            <%= text_field :article, :title, {:name=>'rft.atitle', :class=>"article_title input-xlarge"} %>
          </div>
        </div>
        <div class="control-group">
          <%= label :article, :aulast, "Author Last Name:", :class => "control-label" %>
          <div class="controls">
            <%= text_field :article, :aulast, {:name=>'rft.aulast', :class=>"article_aulast input-xlarge"} %>
          </div>
        </div>
        <div class="control-group">
          <%= label :article, :aufirst, "Author First Name:", :class => "control-label" %>
          <div class="controls">
            <%= text_field :article, :aufirst, {:name=>'rft.aufirst', :class=>"article_aufirst input-xlarge"} %>
          </div>
        </div>
        <div class="control-group">
          <label for="year" class="control-label">Date:</label>
          <div class="controls">
            <%= date %>
          </div>
        </div>
        <div class="control-group">
          <%= label :article, :volume, "Volume:", :class => "control-label" %>
          <div class="controls">
            <%= text_field :article, :volume, {:name=>'rft.volume', :max_length => "5", :class=>"volume input-small"} %>
            <%= label :article, :issue, "Issue:" %>
            <%= text_field :article, :issue, {:name=>'rft.issue', :class=>"issue input-small"} %>
          </div>
        </div>
        <div class="control-group">
          <%= label :article, :spage, "Start page:", :class => "control-label" %>
          <div class="controls">
            <%= text_field :article, :spage, {:name=>'rft.spage', :class=>"spage input-small"} %>
            <%= label :article, :epage, "End page:" %>
            <%= text_field :article, :epage, {:name=>'rft.epage', :class=>"epage input-small"} %>
          </div>
        </div>
        <div class="control-group">
          <div class="control-label rfr_id">
            <select name="rft_id_type" class="input-small">
              <option value='doi' <%#= "selected=\"selected\"" if co_param('rft_id_type') == "doi" %>>DOI:</option>
              <option value='pmid' <%#= "selected=\"selected\"" if co_param('rft_id_type') == "pmid" %>>PMID:</option>
            </select>
          </div>
          <div class="controls">
            <input id="rft_id_value" name="rft_id_value" type="text" value="<%#= co_param('rft_id_value') %>" />
            <%= link_to(content_tag(:i, "", :class=>"icons-famfamfam-information"), "http://library.nyu.edu/info/umlaut/article_identifiers.html", 
              :class => ["doi-popover", "help-inline"], :rel => "popover", :title => "What is a DOI or PMID ?", "data-class" => "doi", :target => "_blank")%>
          </div>
        </div>
        <div class="submit-group">
          <%= submit_tag "Search", {:name=>"Generate_OpenURL2"} %>
          <%= link_to "New Search", {:controller => "search", :action => "new_search"}, {:class => "new_search"}  %>
        </div>
      </fieldset>
    </div>
  </form>
  <%= render :partial=>"browse" %>
</div>
