<li>
	<% form_tag(send_in_processing_requests_url(params[:id]), 
	    :class => "modal_dialog_form request_option" ) do  %>
		<div class="section">
			<% if pickup_locations.length == 1 %> 
				<%= link_to(
					"Request for this item to be held for you once processed.", 
    		  send_in_processing_requests_url(params[:id], pickup_locations.first.last),
					{:target => "_blank", :class => "ajax_window"}) %>.
			<% elsif pickup_locations.length > 1 %> 
				<%= "Request for this item to be held for you once processed." %>
			<% end %><br />
			Items are typically ready for pickup within 5 days.<br />
			<%= display_pickup_locations.html_safe %>
			<%= display_delivery_times_link.html_safe %>
			<%= submit_tag 'Submit' if pickup_locations.length > 1 %>
		</div>
	<% end %>
</li>
