<% form_tag(send_offsite_requests_url(params[:id]), 
    :class => "modal_dialog_form request_option" ) do  %>
	<li>
		<div class="section">
			<%= radio_button_tag "entire",  "yes", :checked => true %>
			Request this entire item.
			It will be held for you at the circulation desk of the specified pickup location.
			Items are ready for pickup within 2 business days.<br />
			<%= display_pickup_locations.html_safe %>
			<%= display_delivery_times_link.html_safe %>
		</div>
	</li>
	<li>
		<div class="section">
			<%= radio_button_tag "entire",  "no" %>
			Request that portions of the item be scanned and delivered electronically.
			(Requests must be within <a href="http://library.nyu.edu/copyright/#fairuse" target="_blank">fair use guidelines</a>.)<br /><br />
			<%= display_scan_elements.html_safe %>
  		</div>
	</li>
	<%= submit_tag 'Submit' %>
<% end %>
