<% unless @user_request.nil?
  cite = @user_request.referent.to_citation %>
  <div class="request">
    <h2><%= display_header(cite[:title]) %></h2>
    <div class="text-error">
      <%= @error || flash[:alert] %>
    </div>
    <p>You may:</p>
    <ol class="request_options">
      <%= render :partial=>"new_available" if request_available? %>
      <%= render :partial=>"new_recall" if request_recall? %>
      <%= render :partial=>"new_offsite" if request_offsite? %>
      <%= render :partial=>"new_in_processing" if request_in_processing? %>
      <%= render :partial=>"new_on_order" if request_on_order? %>
      <%= render :partial=>"new_ill" if request_ill? %>
    </ol>
    <p style="margin-top: 1em;"><strong>You will be notified by email when your item is ready or en route.</strong></p>
    <%= display_delivery_help_link %>
  </div>
<% end %>