<div class="holding-request">
  <%- if flash[:alert].present? -%>
    <div class="text-error">
      <%= flash[:alert] %>
    </div>
  <%- end -%>
  <%- if @holding_request.present? && @authorizer.present? -%>
    <h2><%= title %></h2>
    <p>Request Options:</p>
    <ol class="holding-request-options">
      <%= render 'new_available' if @authorizer.available? %>
      <%= render 'new_offsite' if @authorizer.offsite? %>
      <%= render 'new_ezborrow' if @authorizer.ezborrow? %>
      <%= render 'new_ill' if @authorizer.ill? %>
      <%= render 'new_recall' if @authorizer.recallable? %>
      <%= render 'new_processing' if @authorizer.processing? %>
      <%= render 'new_on_order' if @authorizer.on_order? %>
    </ol>
    <p style="margin-top: 1em;">
      <strong>
        You will be notified by email when your item is ready or en route.
      </strong>
    </p>
  <%- end -%>
</div>
