<%- # Get the GetIt holding from the HoldingManager -%>
<% holding = GetIt::HoldingManager.new(service_response).holding %>
<%- # Only display holdings that aren't expired. -%>
<% unless holding.expired? %>
  <div class="umlaut-holding">
    <div class="row">
      <div class="col-md-3 location">
        <strong><%= holding.location %></strong>
      </div>
      <div class="col-md-4 call-number"><%= holding.call_number %></div>
      <%- # Set status class based on configured available statuses -%>
      <% available_statuses = umlaut_config.holdings.available_statuses
        status_class = available_statuses.include?("#{holding.status}") ?
          'text-success' : '' %>
      <div class="col-md-3 status <%= status_class %>">
        <%= holding.status %>
      </div>
      <div class="col-md-2">
        <%- # More info link -%>
        <%= link_to("More Info", {controller: "link_router",
          id: service_response.id}, target: "_blank",
          class: "btn btn-success more-info" ) %>
        <%- # StackMap link -%>
        <%= render("stackmap_link", holding: holding) %>
        <%- # Request link -%>
        <%= render("request_link", holding: holding) if requestable?(holding) %>
        <%- # E-ZBorrow link -%>
        <%= render("ezborrow_link", holding: holding) %>
        <%- # AFC Schedule link -%>
        <%= render("afc_schedule_link", holding: holding) %>
      </div>
    </div>
    <%- # Display edition info -%>
    <% if holding.reliability.present? &&
        holding.reliability != ServiceResponse::MatchExact %>
      <div class="row edition-information">
        <div class="col-md-11 offset1">
          <div class="umlaut-content-indent">
            <% if holding.edition.present? %>
              <em class="text-info">Edition information</em> <%= holding.edition %>
            <% else %>
              <em class="text-info">May be alternate edition.</em>
            <% end %>
          <div>
        </div>
      </div>
    <% end %>
    <%- # Display notes -%>
    <% if holding.notes.present? %>
      <div class="row notes">
        <div class="col-md-11 offset1"><%= holding.notes %></div>
      </div>
    <% end %>
    <%- # Display coverage -%>
    <% if holding.coverage.present? %>
      <div class="row coverage">
        <div class="col-md-11 offset1">
          <%= list_with_limit("copies_#{service_response.id}", holding.coverage) do |item, index| %>
            <li><%= item %></li>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
