<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="EN">
	<head>
		<title>GetIt | <%= @page_title %></title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
		<link href="https://library.nyu.edu/css/common/icons.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="https://library.nyu.edu/css/common/getit.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="https://library.nyu.edu/css/common/bobcat/ns/getit.css" media="screen" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="container" class="umlaut container">
			<div class="header">
				<a href="http://library.nyu.edu/" id="hd_link_to_home"></a>
				<h1><%= umlaut_config.app_name %></h1>
			</div>
			<div id="nav1">  
				<ul class="floatLeft">
					<li>URL:
						<%= link_to current_permalink_url, current_permalink_url %>
					</li>
				</ul>
				<ul class="floatRight">
					<li>
						<% if current_user %>
							<%= link_to "Log-out " + current_user.firstname, logout_url,  :class=>"nyulibrary_icons_logout" %>
						<% else %>
						<%= link_to "Login", login_url({"umlaut.institution" => current_primary_institution.name, :return_url => current_permalink_url}), :class=>"nyulibrary_icons_login" %> 
						<% end %>
					</li>
				</ul>
			</div>
			<%= yield %>
			<!-- even with nothing in it, footer neccesary for CSS clear=both -->
			<div id="footer" class="footer"> 
				Powered by <a href="http://umlaut.rubyforge.org/">Umlaut</a>, using services from <a href="http://www.exlibrisgroup.com/sfx.htm">SFX</a>, <a href="http://www.crossref.org">CrossRef</a>, <a href="http://www.amazon.com">Amazon</a>, <a href="http://www.worldcat.org">OCLC Worldcat</a>, <a href="http://isbndb.com">ISBNdb</a>, <a href="http://www.librarything.com">LibraryThing</a>, <a href="http://books.google.com">Google Books</a>, <a href="http://www.lib.umich.edu/mdp/">HathiTrust</a>, <a href="http://openlibrary.org/">OpenLibrary</a>, <a href="http://archive.org">the Internet Archive</a>, <a href="http://orlabs.oclc.org/Identities/">Worldcat Identities</a> and others.  
				<%= link_to_toggle_debug_info %> 
				<% 
				sfx_base_url = (current_primary_institution.views["sfx_base_url"] || umlaut_config.lookup!("sfx.sfx_base_url"))
				# sfx_base_url = umlaut_config.lookup!("sfx.sfx_base_url")
				if sfx_base_url && @user_request 
					url = sfx_base_url;
					url += @user_request.to_context_object.kev
					url += "&sfx.ignore_date_threshold=1" if title_level_request? %> 
					<%= link_to '[S]', url, :target=>'_blank' %> 
				<% end %>
			</div>
		</div>
	</body>
</html>