<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GetIt | <%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= resolve_stylesheets %>
    <%= resolve_javascripts %>
    <%= render_umlaut_head_content %>
  </head>
  <body>
    <div class="umlaut-container">
      <header id="header" class="header">
        <div><a href="http://library.nyu.edu/"><span>NYU Libraries</span></a></div>
        <h1><%= umlaut_config.app_name %></h1>
      </header>
      <% if current_permalink_url %>
        <nav class="umlaut-resolve-nav">
          <%= permalink_nav %>
          <%= login(:return_url => current_permalink_url, "umlaut.institution" => institution.code ) %>
        </nav>
      <% end %>
      <div class="container-fluid <%= "umlaut-#{params[:controller]}-container" %>">
        <%= yield %>
      </div>
      <footer id="footer" class="footer">
        <%= render_service_credits %>
        <%-
          #links to aid in debugging openurls gone wrong when in production 
        -%>
        <%= link_to_test_resolve %>
        <%= link_to_direct_sfx %>
        <%= link_to_toggle_debug_info %>
      </footer>
    </div>
  </body>
</html>
