<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GetIt | <%= @page_title %></title>
    <%= meta %>
    <%= resolve_stylesheets %>
    <%= resolve_javascripts %>
    <%= render_umlaut_head_content %>
  </head>
  <body class="umlaut no-js">
    <%= render :partial => "umlaut/header" %>
    <div class="umlaut-container">
      <div class="umlaut-main-container-fluid container-fluid <%= "umlaut-#{params[:controller]}-container" %>">
        <%= yield %>
      </div>
    </div>
    <%= render :partial => "umlaut/footer" %>
    <% if Rails.env.production? %>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '5114fb95f5a1f555df00002b');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
    <% end %>
  </body>
</html>
