<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GetIt | <%= @page_title %></title>
    <%= render 'common/google_tag_manager_script' %>
    <%= meta %>
    <%= resolve_stylesheets %>
    <%= resolve_javascripts %>
    <%= render_umlaut_head_content %>
    <script type="text/javascript">
      !function(a,b,c,d,e,f,g,h){a.RaygunObject=e,a[e]=a[e]||function(){
      (a[e].o=a[e].o||[]).push(arguments)},f=b.createElement(c),g=b.getElementsByTagName(c)[0],
      f.async=1,f.src=d,g.parentNode.insertBefore(f,g),h=a.onerror,a.onerror=function(b,c,d,f,g){
      h&&h(b,c,d,f,g),g||(g=new Error(b)),a[e].q=a[e].q||[],a[e].q.push({
      e:g})}}(window,document,"script","//cdn.raygun.io/raygun4js/raygun.min.js","rg4js");
    </script>
  </head>
  <body class="umlaut no-js">
    <%= render 'common/google_tag_manager_noscript' %>
    <%= render :partial => "umlaut/header" %>
    <div class="umlaut-container">
      <div class="umlaut-main-container-fluid container-fluid <%= "umlaut-#{params[:controller]}-container" %>">
        <%= yield %>
      </div>
    </div>
    <%= render :partial => "umlaut/footer" %>
    <% if Rails.env.production? %>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '<%= current_primary_institution.views["gauges_tracking_code"] %>');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
    <% end %>
    <script type="text/javascript">
      rg4js('apiKey', <%= ENV['RAYGUN_API_KEY'] %>);
      rg4js('enableCrashReporting', true);
      rg4js('enablePulse', true);
    </script>
  </body>
</html>
