<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GetIt | <%= @page_title %></title>
    <meta name="onlyfortesting" content="onlyfortesting">
    <%= render 'common/google_tag_manager_script' %>
    <%= meta %>
    <%= resolve_stylesheets %>
    <%= resolve_javascripts %>
    <%= render_umlaut_head_content %>
  </head>
  <body class="umlaut no-js resolve">
    <%= render 'common/google_tag_manager_noscript' %>
    <%= render :partial => "umlaut/header" %>
    <main>
    <%= render "common/deprecation_msg" %>
    <div class="umlaut-container">
      <div class="umlaut-main-container-fluid container-fluid <%= "umlaut-#{params[:controller]}-container" %>">
        <%= yield %>
      </div>
    </div>
    <%= render :partial => "umlaut/footer" %>
    </main>
  </body>
</html>
